body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
}

ul li {
  list-style-type: none;
}

.my-banner {
  background-color: black;
  height: 2rem;
  text-align: end;
}

.my-banner img {
  height: 1rem;
}

.my-button{
  background-color: #007ee5;
  border: none;
  border-radius: 20px;
}

section#jumbo {
  background-image: url(../img/ps-indies-video-hero-02-en-03mar21.jpg);
  
}

.white {
  color: white;
}

iframe{
  z-index: 3;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.latest {
  background-image: url(../img/ps-indies-content-background-block-01-en-18jun21_003.webp);
}

div.image-box-1 {
  background-image: url(../img/ps-indies-content-background-block-01-en-16jun21_004.webp);
}

div.image-box-2 {
  background-image: url(../img/ps-indies-content-background-block-01-en-18jun21_003.webp);
}

section.rollerdome{
  background-image: url(../img/rollerdrome-screenshot-06-en-25jul22_002.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* filter: contrast(80%) brightness(30%); */
}

section.sifu{
  background-image: url(../img/sifu-screenshot-02-en-23feb22_005.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* filter: contrast(80%) brightness(30%); */
}

div.spotlight{
  position: relative;
  right: 60px;
  top: 130px;
}

section.upcoming {
  background-image: url(../img/ps-indies-content-background-block-desktop-02-en-18j_003.webp);
}

div.video-box-2 {
  background-image: url(../img/ps-indies-content-background-block-01-en-18jun21_003.webp);
}

section.genre {
  background-image: url(../img/ps-indies-content-background-block-01-en-18jun21_004.webp);
}

.azure-wrapper {
  background-color: #00439c;
  color: white;
}

img.sielogo {
  width: 200px;
}